<input type="file" id="files" multiple="">
<button onclick="go()">Hochladen</button>
<input type="text" class="form-control" id="column">
<input type="text" class="form-control" id="icon">
<input type="text" class="form-control" id="value">
<button onclick="csvSelect()">Auswerten</button>
<div>
  <p>
    <input type="text" class="form-control" id="adapter" placeholder="adapter">
  </p>
  <p>
    <input type="text" class="form-control" id="encoding" placeholder="encoding">
  </p>
  <p>
    <input type="text" class="form-control" id="database" placeholder="database">
  </p>
  <p>
    <input type="text" class="form-control" id="host" placeholder="host">
  </p>
  <p>
    <input type="text" class="form-control" id="username" placeholder="username">
  </p>
  <p>
    <input type="text" class="form-control" id="password" placeholder="password">
  </p>
  <button onclick="dbConnect()">Verbinden</button>
</div>
<% if !$csv.nil? %>
    <div class="container">
      <table class="table table-bordered">
        <thead>
        <tr>
          <% $csv.first.each do |th| %>
              <th><%= th[0] %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% $csv.each do |tr| %>
        <tr>
          <% tr.each do |td| %>
          <td><%= td[1] %></td>
          <% end %>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>

<% end %>
<script>
  var csvData;
  function go(){
      $("input[type=file]").parse({
          config: {
              header:true,
              dynamicTyping:true,
              complete: function(results, file) {
                  console.log("This file done:", file, results);
                  csvData = results.data;
                  $.ajax({
                      type: "POST",
                      dataType: "json",
                      url: '/upload',
                      data: { csv: results.data},
                      success: function() {
                          location.reload();
                      }
                  });
              }
          },
          complete: function() {
              console.log(csvData);
          }
      });
  }
  function csvSelect(){
      $.ajax({
          type: "POST",
          dataType: "json",
          url: '/csv_select',
          data: {column: $('#column').val(), icon: $('#icon').val(), value: $('#value').val()},
          success: function() {
              location.reload();
          }
      });
  }
  function dbConnect(){
      adapter = $('#adapter').val();
      encoding = $('#encoding').val();
      database = $('#database').val();
      host = $('#host').val();
      username = $('#username').val();
      password = $('#password').val();
      $.ajax({
          type: "POST",
          dataType: "json",
          url: '/connect',
          data: {adapter: adapter, encoding: encoding, database: database, host: host,
              username: username, password: password},
          success: function() {
              location.reload();
          }
      });
  }
</script>